// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


// Import BS Admin 2
@import '~startbootstrap-sb-admin-2/css/sb-admin-2.min.css';
@import '~startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css';
@import '~startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css';
@import '~gijgo/css/gijgo.min.css';

footer {
    position: fixed; 
    bottom: -60px; 
    left: 0px; 
    right: 0px;
    height: 100px;
} 

.font-size-12{
	font-size: 12px !important;
}
