<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="width:491.4pt;border-collapse:collapse;border: none;margin-left:4.8pt;margin-right:4.8pt;">
        <tbody>
            <tr>
                <td rowspan="2" style="width: 136.1pt;border-top: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-left: 1pt solid rgb(166, 183, 39);border-image: initial;border-right: none;background: rgb(166, 183, 39);padding: 0in 5.4pt;vertical-align: top;">
                    <span>LA **** DU VISAGE</span>
                </td>
                <td colspan="3" style="width: 355.3pt;border-top: 1pt solid rgb(166, 183, 39);border-left: none;border-bottom: none;border-right: 1pt solid rgb(166, 183, 39);background: rgb(166, 183, 39);padding: 0in 5.4pt;vertical-align: top;">
                    <span>&nbsp;</span>
                </td>
            </tr>
            <tr>
                <td style="width: 90.45pt;border: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;vertical-align: top;">
                    <span>NORMALE</span>
                </td>
                <td style="width: 115.15pt;border-top: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-image: initial;border-left: none;padding: 0in 5.4pt;vertical-align: top;">
                    <span>ANOMALIE DU DERME</span>
                    <span>ATROPHIE OU SEBOSTASEE</span>
                </td>
                <td style="width: 149.7pt;border-top: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-image: initial;border-left: none;background: white;padding: 0in 5.4pt;vertical-align: top;">
                    <span >ANOMALIE ** L&rsquo;EPIDERME</span>
                    <span>SEBORRHEE &nbsp;OU HYPERSENSIBLE</span>
                </td>
            </tr>
            <tr>
                <td rowspan="2" style="width: 136.1pt;border-top: none;border-left: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-right: none;background: white;padding: 0in 5.4pt;height: 16.15pt;vertical-align: top;">
                    <span>SEBUM</span>
                </td>
                <td style="width: 90.45pt;border-top: none;border-left: 1pt solid rgb(166, 183, 39);border-bottom: none;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 16.15pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;L&eacute;ger</span>
                </td>
                <td rowspan="2" style="width: 115.15pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 16.15pt;vertical-align: top;">
                    <span>&nbsp;</span>
                </td>
                <td rowspan="2" style="width: 149.7pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);background: white;padding: 0in 5.4pt;height: 16.15pt;vertical-align: top;">
                    <span>&nbsp;</span>
                    <input type="checkbox"><span>&nbsp;Grasse&nbsp;</span></strong><input type="checkbox"><span>&nbsp;Acn&eacute;ique</span>
                </td>
            </tr>
            <tr>
                <td style="width: 90.45pt;border: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 9pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Normale</span>
                </td>
            </tr>
            <tr>
                <td style="width: 136.1pt;border-top: none;border-right: none;border-bottom: none;border-image: initial;border-left: 1pt solid rgb(166, 183, 39);background: white;padding: 0in 5.4pt;vertical-align: top;">
                    <span>HYDRATATION</span>
                </td>
                <td style="width: 90.45pt;border-top: none;border-left: 1pt solid rgb(166, 183, 39);border-bottom: none;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Normale</span>
                </td>
                <td style="width: 115.15pt;border-top: none;border-bottom: none;border-left: none;border-image: initial;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;S&egrave;che</span>
                </td>
                <td style="width: 149.7pt;border-top: none;border-bottom: none;border-left: none;border-image: initial;border-right: 1pt solid rgb(166, 183, 39);background: white;padding: 0in 5.4pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Tiraillement</span>
                </td>
            </tr>
            <tr>
                <td rowspan="3" style="width: 136.1pt;border-top: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-left: 1pt solid rgb(166, 183, 39);border-image: initial;border-right: none;background: white;padding: 0in 5.4pt;height: 15.6pt;vertical-align: top;">
                    <span>&nbsp;</span>
                    <span>KERATINISATION</span>
                </td>
                <td style="width: 90.45pt;border: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 15.6pt;vertical-align: top;">
                    <p style='margin:0in;font-size:16px;font-family:"Times New Roman",serif;'><input type="checkbox"><span>&nbsp;L&eacute;ger</span>
                </td>
                <td style="width: 115.15pt;border-top: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-image: initial;border-left: none;padding: 0in 5.4pt;height: 15.6pt;vertical-align: top;">
                    <p style='margin:0in;font-size:16px;font-family:"Times New Roman",serif;'><input type="checkbox"><span>&nbsp;Faible</span>
                </td>
                <td rowspan="3" style="width: 149.7pt;border-top: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-image: initial;border-left: none;background: white;padding: 0in 5.4pt;height: 15.6pt;vertical-align: top;">
                    <p style='margin:0in;font-size:16px;font-family:"Times New Roman",serif;'><span>&nbsp;</span>
                    <input type="checkbox"><span>&nbsp;Gerssures&nbsp;</span>
                </td>
            </tr>
            <tr>
                <td rowspan="2" style="width: 90.45pt;border-right: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-left: 1pt solid rgb(166, 183, 39);border-image: initial;border-top: none;padding: 0in 5.4pt;height: 7.85pt;vertical-align: top;">
                    <span>&nbsp;</span>
                    <input type="checkbox"><span>&nbsp;Normale</span>
                </td>
                <td style="width: 115.15pt;border-top: none;border-bottom: none;border-left: none;border-image: initial;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 7.85pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;S&egrave;che</span>
                </td>
            </tr>
            <tr>
                <td style="width: 115.15pt;border-top: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-image: initial;border-left: none;padding: 0in 5.4pt;height: 9pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Desquam&eacute;e&nbsp;</span>
                </td>
            </tr>
            <tr>
                <td rowspan="3" style="width: 136.1pt;border-top: none;border-right: none;border-bottom: none;border-image: initial;border-left: 1pt solid rgb(166, 183, 39);background: white;padding: 0in 5.4pt;height: 14.25pt;vertical-align: top;">
                    <span>&nbsp;</span>
                    <span>FOLLICULE</span>
                </td>
                <td style="width: 90.45pt;border-top: none;border-left: 1pt solid rgb(166, 183, 39);border-bottom: none;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 14.25pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;L&eacute;ger</span>
                </td>
                <td style="width: 115.15pt;border-top: none;border-bottom: none;border-left: none;border-image: initial;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 14.25pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Faible</span>
                </td>
                <td rowspan="3" style="width: 149.7pt;border-top: none;border-bottom: none;border-left: none;border-image: initial;border-right: 1pt solid rgb(166, 183, 39);background: white;padding: 0in 5.4pt;height: 14.25pt;vertical-align: top;">
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                </td>
            </tr>
            <tr>
                <td rowspan="2" style="width: 90.45pt;border-top: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);border-left: 1pt solid rgb(166, 183, 39);border-image: initial;border-bottom: none;padding: 0in 5.4pt;height: 14.95pt;vertical-align: top;">
                    <span>&nbsp;</span>
                    <input type="checkbox"><span>&nbsp;Normale</span>
                </td>
                <td style="width: 115.15pt;border-top: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-image: initial;border-left: none;padding: 0in 5.4pt;height: 14.95pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;S&egrave;che</span>
                </td>
            </tr>
            <tr>
                <td style="width: 115.15pt;border-top: none;border-bottom: none;border-left: none;border-image: initial;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 10.5pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Desquam&eacute;e&nbsp;</span>
                </td>
            </tr>
            <tr>
                <td rowspan="2" style="width: 136.1pt;border-top: 1pt solid rgb(166, 183, 39);border-left: 1pt solid rgb(166, 183, 39);border-bottom: none;border-right: none;background: white;padding: 0in 5.4pt;height: 12pt;vertical-align: top;">
                    <span>&nbsp;</span>
                    <span>RELIEF</span>
                </td>
                <td style="width: 90.45pt;border: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 12pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;L&eacute;ger</span>
                </td>
                <td style="width: 115.15pt;border-top: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-image: initial;border-left: none;padding: 0in 5.4pt;height: 12pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Fin</span>
                </td>
                <td style="width: 149.7pt;border-top: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-image: initial;border-left: none;background: white;padding: 0in 5.4pt;height: 12pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Pores dilat&eacute;s</span>
                </td>
            </tr>
            <tr>
                <td style="width: 90.45pt;border-top: none;border-left: 1pt solid rgb(166, 183, 39);border-bottom: none;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 15pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Normale</span>
                </td>
                <td style="width: 115.15pt;border-top: none;border-bottom: none;border-left: none;border-image: initial;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 15pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Serr&eacute;&nbsp;</span>
                </td>
                <td style="width: 149.7pt;border-top: none;border-bottom: none;border-left: none;border-image: initial;border-right: 1pt solid rgb(166, 183, 39);background: white;padding: 0in 5.4pt;height: 15pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;***** obstru&eacute;s</span>
                </td>
            </tr>
            <tr>
                <td rowspan="2" style="width: 136.1pt;border-top: 1pt solid rgb(166, 183, 39);border-left: 1pt solid rgb(166, 183, 39);border-bottom: none;border-right: none;background: white;padding: 0in 5.4pt;height: 9.75pt;vertical-align: top;">
                    <span>&nbsp;</span>
                    <span>ELASTICITE</span>
                </td>
                <td style="width: 90.45pt;border: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 9.75pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;L&eacute;ger</span>
                </td>
                <td style="width: 115.15pt;border-top: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-image: initial;border-left: none;padding: 0in 5.4pt;height: 9.75pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Faible</span>
                </td>
                <td rowspan="2" style="width: 149.7pt;border-top: 1pt solid rgb(166, 183, 39);border-left: none;border-bottom: none;border-right: 1pt solid rgb(166, 183, 39);background: white;padding: 0in 5.4pt;height: 9.75pt;vertical-align: top;">
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                </td>
            </tr>
            <tr>
                <td style="width: 90.45pt;border-top: none;border-left: 1pt solid rgb(166, 183, 39);border-bottom: none;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 0.25in;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Normale</span>
                </td>
                <td style="width: 115.15pt;border-top: none;border-bottom: none;border-left: none;border-image: initial;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 0.25in;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Bonne</span>
                </td>
            </tr>
            <tr>
                <td rowspan="2" style="width: 136.1pt;border-top: 1pt solid rgb(166, 183, 39);border-left: 1pt solid rgb(166, 183, 39);border-bottom: none;border-right: none;background: white;padding: 0in 5.4pt;height: 12.75pt;vertical-align: top;">
                    <span>&nbsp;</span>
                    <span>SENSIBILITE</span>
                </td>
                <td style="width: 90.45pt;border: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 12.75pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;L&eacute;ger</span>
                </td>
                <td style="width: 115.15pt;border-top: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-image: initial;border-left: none;padding: 0in 5.4pt;height: 12.75pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Sensible</span>
                </td>
                <td rowspan="2" style="width: 149.7pt;border-top: 1pt solid rgb(166, 183, 39);border-left: none;border-bottom: none;border-right: 1pt solid rgb(166, 183, 39);background: white;padding: 0in 5.4pt;height: 12.75pt;vertical-align: top;">
                    <span>&nbsp;</span>
                    <input type="checkbox"><span>&nbsp;Hypersensibilit&eacute;</span>
                </td>
            </tr>
            <tr>
                <td style="width: 90.45pt;border-top: none;border-left: 1pt solid rgb(166, 183, 39);border-bottom: none;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 14.25pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Normale</span>
                </td>
                <td style="width: 115.15pt;border-top: none;border-bottom: none;border-left: none;border-image: initial;border-right: 1pt solid rgb(166, 183, 39);padding: 0in 5.4pt;height: 14.25pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;R&eacute;active</span>
                </td>
            </tr>
            <tr>
                <td style="width: 136.1pt;border-top: 1.5pt double rgb(166, 183, 39);border-left: 1pt solid rgb(166, 183, 39);border-bottom: 1pt solid rgb(166, 183, 39);border-right: none;background: white;padding: 0in 5.4pt;height: 2.5pt;vertical-align: top;">
                    <span>CIRCULATION</span>
                </td>
                <td style="width: 90.45pt;border-width: 1.5pt 1pt 1pt;border-style: double solid solid;border-color: rgb(166, 183, 39);border-image: initial;background: white;padding: 0in 5.4pt;height: 2.5pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;R&eacute;guli&egrave;re</span>
                </td>
                <td style="width: 115.15pt;border-top: 1.5pt double rgb(166, 183, 39);border-left: none;border-bottom: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);background: white;padding: 0in 5.4pt;height: 2.5pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Irr&eacute;guli&egrave;re</span>
                </td>
                <td style="width: 149.7pt;border-top: 1.5pt double rgb(166, 183, 39);border-left: none;border-bottom: 1pt solid rgb(166, 183, 39);border-right: 1pt solid rgb(166, 183, 39);background: white;padding: 0in 5.4pt;height: 2.5pt;vertical-align: top;">
                    <input type="checkbox"><span>&nbsp;Plaques</span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
